.resultRoute{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;


  div{
    display: flex;
    flex-direction: column;
    background: #292d32;
    border-radius: 10px;
    padding: 2% 5%;
    width: 10%;
    h2{
      color: #fff;
      font-size: 2em;
      margin-bottom: 10px;
    }
    p{
      color: #ddd;
      font-size: 1.5em;
      margin-bottom: 10px;
    }
  }
  div:hover{
    transform: scale(1.05);
    animation: 1s linear;
  }
}
.routeInput{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #e1e1e1;
  label{
    margin-right: 20px;
  }
  button{
    transform: translateX(-80px);
    z-index: 99999;
    background: transparent;
    border: 0;
    cursor: pointer;
    mat-icon{
      color: #e1e1e1;
    }
  }
  input {
    width: 60%;
    line-height: 1.5;
    padding: 15px 10px;
    border: 1px solid hsl(0, 0%, 10%);
    background: #484848;
    border-radius: 5px;
    color: #e1e1e1;
    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  }

  input:focus {
    background: hsl(0, 7%, 20%);
  }
  input:focus {
    transform: scale(1.02);
  }

}
