.wrapper {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 80%;
  display : flex;
  flex-direction: column;
  margin-left: 10%;
  gap: 50px;

  .card {
    border-radius: 5px;
    padding: 20px;
    color :white;
    background-color: #3C3C3C;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .align {
      flex : 1 1;
      display: flex;
      gap:10px;
      align-items: center;
      justify-content: center;
    }

    .title {
      font-size: 20px;
    }

    .row {
      display: flex;
    }
  }
}

.schedule{
  display: flex;
  justify-content: center;
  flex-direction: column;

  .s-title {
    display: flex;
    justify-content: center;
  }

  .caca {
    display: flex;
    justify-content: center;
  }
}
