<app-navbar></app-navbar>
<div class="routeInput">
  <label for="route">Recherche de route :</label>
  <input placeholder="Saisissez la route" id="route" name="route" type="text">
  <button>
    <mat-icon>search</mat-icon>
  </button>
</div>
<div class="resultRoute">
  <div>
    <h2>Seller</h2>
    <p>Christofle Delcroix</p>
  </div>
  <div>
    <h2>Start</h2>
    <p>Port Royal</p>
  </div>
  <div>
    <h2>End</h2>
    <p>New York</p>
  </div>
  <div>
    <h2>Cargo</h2>
    <p>Epices et produits de luxe</p>
  </div>
</div>
