<app-navbar></app-navbar>
<div class="blocDetail">
  <div class="sousBlocDetail">
    <div class="textDetail paddingRight">
      <h2>Les Fondations de <span>la Guilde de Barbe Noire</span></h2>
      <p>En 1716, dans l'effervescence de l'âge d'or de la piraterie, naît la Guilde de Barbe Noire. Sous la direction éclairée de son fondateur éponyme, la guilde se distingue rapidement par son esprit novateur et son engagement envers un commerce maritime légal et prospère. Dès ses débuts, elle se fixe pour mission de repousser les frontières du commerce maritime dans le respect des lois et des normes en vigueur.</p>
    </div>
    <div class="imgDetail">
      <img src="assets/images/CardDetail/Card1.png">
    </div>
  </div>
  <div class="sousBlocDetail reverse">
    <div class="imgDetail paddingRight">
      <img src="assets/images/HenryJennings.png">
    </div>
    <div class="textDetail">
      <h2>La Vision de <span>Barbe Noire</span></h2>
      <p>Barbe Noire, figure charismatique et visionnaire, incarne les valeurs d'intégrité et d'efficacité qui guident la guilde dans toutes ses actions. Sous sa direction éclairée, l'entreprise prospère, étendant ses activités à travers les océans tout en restant fidèle à ses principes fondamentaux de légalité et de transparence.</p>
    </div>
  </div>
  <div class="sousBlocDetail">
    <div class="textDetail paddingRight">
      <h2>Un Empire Maritime <span>Respecté</span></h2>
      <p>Au fil des siècles, la Guilde de Barbe Noire s'impose comme un acteur majeur du commerce maritime, respecté pour son professionnalisme et son engagement envers l'éthique commerciale. Ses navires, symboles de qualité et de fiabilité, transportent des marchandises légitimes dans le monde entier, contribuant ainsi au développement économique des régions qu'ils desservent.</p>
    </div>
    <div class="imgDetail">
      <img src="assets/images/CardDetail/Card2.png">
    </div>
  </div>
  <div class="sousBlocDetail reverse">
    <div class="imgDetail paddingRight">
      <img src="assets/images/HenryJennings.png">
    </div>
    <div class="textDetail">
      <h2>Diversification et <span>Innovation</span></h2>
      <p>Soucieuse de rester à la pointe du progrès, la guilde investit dans la diversification de ses activités, explorant de nouveaux marchés et développant des solutions innovantes pour répondre aux besoins de sa clientèle. Des services de logistique aux technologies maritimes de pointe, elle se positionne comme un leader dans un secteur en constante évolution.</p>
    </div>
  </div>
  <div class="sousBlocDetail">
    <div class="textDetail paddingRight">
      <h2>Héritage et <span>Engagement Futur</span></h2>
      <p>Aujourd'hui, la Guilde de Barbe Noire continue d'honorer son héritage tout en regardant vers l'avenir. Forte de son histoire et de son engagement envers le commerce maritime légal, elle reste déterminée à maintenir sa position de leader dans l'industrie tout en contribuant au bien-être économique et social des communautés qu'elle dessert.</p>
    </div>
    <div class="imgDetail">
      <img src="assets/images/HenryJennings.png">
    </div>
  </div>
</div>
