.blocDetail
{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.sousBlocDetail
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  margin-inline: 8%;
}

.sousBlocDetail.visible {
  animation: slideInRight 1s ease-in-out;
}

.sousBlocDetail.reverse.visible {
  animation: slideInLeft 1s ease-in-out;
}

@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.textDetail
{
  display: flex;
  flex-direction: column;
  width: 55%;
  text-align: justify;

  h2{
    color: #fff;
    padding-bottom: 20px;
    font-size: 36px ;
    span{
      color: #FFB800;
    }
  }
  p{
    font-size: 24px;
    color: #999999;
  }
}

.imgDetail
{
  width: 45%;
  img{
    width: 100%;
    height: auto;
    max-height: 450px;
    max-width: 450px;
  }
}
.paddingRight{
  margin-right: 10%;
}
