<app-navbar></app-navbar>
<div class="presentation">
  <div class="logo"></div>
  <div class="title-presentation">
    <div class="title">
      <span>LA GUILDE</span>
      <span class="color">DE BARBE NOIR</span>
    </div>

    <span class="description">
      Découvrez la Guilde de Barbe Noire, entreprise prestigieuse depuis 1796. Explorez notre site web pour en savoir plus
      sur notre histoire et nos services uniques. Rejoignez-nous pour des aventures passionnantes !
    </span>

    <button class="classic-button" mat-ripple (click)="goToDetails()">
      <span>En apprendre plus</span>
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
</div>
<div class="partenaire">
  <span>Nos partenaires</span>
  <div class="blocPartenaire">
    <div class="sousBlocPartenaire">
      <img src="assets/images/logoPartenaire/logo.png">
      <p>Royal Maritima Trading Co.</p>
    </div>
    <div class="sousBlocPartenaire">
      <img src="assets/images/logoPartenaire/logo.png">
      <p>Navarre Shipyard Ltd.</p>
    </div>
    <div class="sousBlocPartenaire">
      <img src="assets/images/logoPartenaire/logo.png">
      <p>Atlantic Fishery & Salting Co.</p>
    </div>
    <div class="sousBlocPartenaire">
      <img src="assets/images/logoPartenaire/logo.png">
      <p>British Maritime Insurance Company</p>
    </div>
    <div class="sousBlocPartenaire">
      <img src="assets/images/logoPartenaire/logo.png">
      <p>Marseille Transatlantic Trading House</p>
    </div>
  </div>
</div>

