<app-navbar></app-navbar>
<div class="presentation">
  <div class="logo"></div>
  <div class="title-presentation">
    <div class="title">
      <span>LA GUILDE</span>
      <span class="color">DE BARBE NOIR</span>
    </div>

    <span class="description">
      Découvrez la Guilde de Barbe Noire, entreprise prestigieuse depuis 1796. Explorez notre site web pour en savoir plus
      sur notre histoire et nos services uniques. Rejoignez-nous pour des aventures passionnantes !
    </span>

    <button class="classic-button" mat-ripple (click)="goToDetails()">
      <span>En apprendre plus</span>
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
</div>
<div class="partenaire">
  <span>Nos partenaires</span>
  <div class="blocPartenaire">
    <div class="sousBlocPartenaire">
      <img src="assets/images/logoPartenaire/1.png" alt="logo de notre entreprise partenaire : Royal Maritima Trading Co">
      <p>Royal Maritima Trading Co.</p>
    </div>
    <div class="sousBlocPartenaire">
      <img src="assets/images/logoPartenaire/2.png" alt="logo de notre entreprise partenaire : Navarre Shipyard Ltd">
      <p>Navarre Shipyard Ltd.</p>
    </div>
    <div class="sousBlocPartenaire">
      <img src="assets/images/logoPartenaire/3.png" alt="logo de notre entreprise partenaire : Atlantic Fishery & Salting Co">
      <p>Atlantic Fishery & Salting Co.</p>
    </div>
    <div class="sousBlocPartenaire">
      <img src="assets/images/logoPartenaire/4.png" alt="logo de notre entreprise partenaire : British Maritime Insurance Company">
      <p>British Maritime Insurance Company</p>
    </div>
    <div class="sousBlocPartenaire">
      <img src="assets/images/logoPartenaire/5.png" alt="logo de notre entreprise partenaire : Marseille Transatlantic Trading House">
      <p>Marseille Transatlantic Trading House</p>
    </div>
  </div>
</div>


<div class="contenaireCard">
  @if (isLoading) {
    <mat-spinner></mat-spinner>
  }
  @else {
    @for (pirate of pirates; track $index) {
      <div class="presentation_card">
        <img src="assets/images/CardIndex/{{$index}}.png" alt="photo du pirate">
        <p>{{pirate.description}}</p>
        <div class="separation">
          <div class="birth_death">
            <h3>{{pirate.birth}}</h3>
            <h3> - </h3>
            <h3>{{pirate.death}}</h3>
          </div>
          <h2>{{pirate.name}}</h2>
        </div>
      </div>

    }
  }
</div>
