@use '@angular/material' as mat;
@use '@angular/material/core/theming/_theming.scss' as mat-theming;

$primary-palette: (
  50: Ff5807E,
  100: white,
  200: white,
  contrast: (
    100: black,
    200: black
  )
);

$dark-palette: (
  50: #1D1D1D,
  100: #1D1D1D,
  200: #1D1D1D,
  contrast: (
    100: white,
    200: white,
  )
);

$primary: mat.define-palette($primary-palette, 100, 50, 200);
$accent: mat.define-palette($dark-palette, 100, 50, 200);

// Create the Material theme object
$theme: mat.define-light-theme($primary, $accent);
